[package]
name = "imgui-sys"
version = "0.0.14-pre"
authors = ["Joonas Javanainen <joonas.javanainen@gmail.com>", "imgui-rs contributors"]
description = "Raw FFI bindings to dear imgui"
homepage = "https://github.com/gekkio/imgui-rs"
repository = "https://github.com/gekkio/imgui-rs"
license = "MIT/Apache-2.0"
categories = ["gui", "external-ffi-bindings"]
build = "build.rs"

[dependencies]
bitflags = "0.8"
glium = { version = "0.16", default-features = false, optional = true }
gfx = { version = "0.16", optional = true }

[build-dependencies]
gcc = "0.3"
